/* .p-tag{
    color: red;
    background-color: black !important;
} */

/* p {
    color: red;
}

div {
    color: green;
} */

/* #p-tag-id-1 {
    color: red;
} */

/* .p-tag {
    color: blue;
} */

/* * {
    color: crimson;
} */

/* h1, p, div {
    color: blue;
} */

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    /* font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize; */
    /* text-indent: 100px;
    letter-spacing: 2px;
    line-height: 10px;
    word-spacing: 5px;
    width: 600px;
    white-space: nowrap; */
    /* border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px; */
    /* border-top-style: dashed;
    border-right-style: solid; */

    /* padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 0px; */
    /* padding: 10px 5px 2px 0px; */
    
    /* margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 12px;
    margin-right: 6px; */
    /* margin: 10px 6px 12px 5px; */
}

/* div > p {
    background-color: yellow;
} */

/* div ~ p {
    background-color: red;
} */

/* div + p {
    background-color: green;
} */

/* > --> Child 

~ --> Sibling

+ --> Adjacent */


/* display property */

/* p {
    position: static;
    top: 20px;
    right: 10px;
} */

/* div {
    position: absolute;
} */

/* a {
    color: red;
}

a:link {
    color: blue;
} */

/* div {
    color: green;
} */

/* div:hover {
    color: black;
} */

/* div::before {
    color: red;
}

div::after {
    color: yellow;
} */

/* p:nth-child(3) {
    background: green;
} */

.square {
    height: 50px;
    width: 50px;
    background-color: red;
    /* box-shadow: 20px 10px 10px 30px yellow; */
    /* transition: width 2s; */
    /* transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease; */
    /* ease - start and end slowly and in middle its fast
    linear - start, middle and end all are in same rate
    ease-in - starting is slow
    ease-out - ending is slow
    ease-in-out - start and end are slow */
    /* transition-delay: 5s; */

    /* transform: translate(10px, 20px); */
    /* transform: translateX(10px);
    transform: translateY(20px); */
    
    /* transform: rotate(10deg);
    transform: rotateX(10deg);
    transform: rotateY(10deg); */

    /* transform: scale(2,3);
    transform: scaleX(2);
    transform: scaleY(3); */

    /* transform: skew(10deg, 20deg);
    transform: skewX(10deg);
    transform: skewY(20deg); */
}

/* .square:hover {
    width: 100px;
} */

/* .rect {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to right, red, yellow 5%, blue 10%);
    background-image: repeating-linear-gradient(to right, red, yellow 10%);
    background-image: radial-gradient(red, yellow);
    background-image: radial-gradient(circle,red 10%, yellow);
    background-image: repeating-radial-gradient(red, yellow 11%, blue 17%);
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, blue 180deg, blue 270deg, green 270deg);
} */

/* .parent-rect {
    width: 500px;
    height: 500px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.child-square {
    width: 100px;
    height: 80px;
    background-color: red;
    margin: 20px;
} */

.parent-rect{
    width: 600px;
    height: 120px;
    background-color: yellow;
    display: flex;
    /* flex-wrap: wrap; */
}

/* .child-square {
    width: 100px;
    height: 80px;
    background-color: red;
    margin: 20px;
} */

.child-square-1 {
    width: 100px;
    height: 80px;
    background-color: red;
    margin: 20px;
    /* order: 2; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

.child-square-2 {
    width: 100px;
    height: 80px;
    background-color: red;
    margin: 20px;
    /* order: 3; */
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
}

.child-square-3 {
    width: 100px;
    height: 80px;
    background-color: red;
    margin: 20px;
    /* order: 1; */
    /* flex-grow: 8; */
    /* flex-shrink: 7; */
    /* flex-basis: 200px; */
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 3 1 200px
}

.grid-container {
    height: 500px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* align-items: space-around; */
    /* align-items: space-evenly; */
    /* align-items: space-between; */
}

.grid-container > div {
    background-color: blue;
    border: 1px solid black;
}